@model PaginationModel<TopicViewModel>
@{
    var pageSizeList = new List<int>() { 5, 10, 20, 50, 100 }
       .Select(item => new SelectListItem { Value = item.ToString(), Text = item.ToString()+" rows" }).ToList();
    ViewBag.PageSizeList = pageSizeList;

    var sortingOrderList = new List<string> {"None", "Date Created Ascending",
    "Date Created Descending","Alphabetically","Popularity Ascending","Popularity Descending"}
    .Select((item, index) => new SelectListItem
    { Value = index.ToString(), Text = item }).ToList();
    ViewBag.SortingOrderList = sortingOrderList;

    TempData["Message"] = TempData["SuccessMessage"];
}
<section>
    @if (User.IsInRole("Admin"))
    {
        <h3 class="text-center p-3">Admin Panel</h3>
    }
    else
    {
        <h3 class="text-center p-3">Forum Topics</h3>
        
    }
    <div class="d-block">
       
        <div class="row align-items-start ">
            <div class="col-2 mt-3 ">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Users: <span class="badge bg-info">@Model.TopicsInfo.UserCount</span></li>
                        <li class="list-group-item">Active Topics: <span class="badge bg-info">@Model.TopicsInfo.ActiveTopicsCount</span></li>
                        <li class="list-group-item">Inactive Topics: <span class="badge bg-info">@Model.TopicsInfo.InactiveTopicsCount</span></li>
                        <li class="list-group-item">New Topics: <span class="badge bg-info">@Model.TopicsInfo.NewTopicsCount</span></li>
                    </ul>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title pb-2">Create Topic</h5>
                            <p class="card-text">Once the topic is created, is has to be set to active mode for the forum users to be able to post anything in it.</p>
                            <a asp-controller="Topic" asp-action="Create"><h5><span class="badge bg-primary">Create</span></h5></a>
                        </div>
                    </div>
                }
            </div>
          
                <div class="col-10 text-start">
                @if (TempData["SuccessMessage"] != null)
                {
                    @await Component.InvokeAsync("SuccessMessage",new MessageModel{ SuccessMessage = TempData["Message"].ToString()})
                }
               
               
                <form id="pagination-form" method="post" asp-route-page="@Model.PageIndex"    asp-controller="Topic" asp-action="ManageTopics">
                    <div>
                    <input asp-for="@Model.SearchTerm" class="form-input w-75" type="text" placeholder="search..." value="@Model.SearchTerm" />
                    <input asp-for="@Model.PageIndex" type="hidden" value="@Model.PageIndex"/>
         
                    
                    <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@Model.CurrentPageIndex" class="form-button"> Search </button>
                    </div>                                                                                                                                             
                    @if(Model.Items.Count == 0)
                    {
                        <h4>No results</h4>
                    }
                    else
                    {
                        <div>
                            <table class="topics-table">
                                <thead>
                                    <tr>
                                        <th nowrap>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created</th>
                                        <th>Modified</th>
                                        <th>Popularity</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Activity</th>
                                        }
                                        @if (User.IsInRole("User"))
                                        {
                                            <th class="nowrap">My Activity</th>
                                        }
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.CreatedOn</td>
                                            <td>@item.ModifiedOn</td>
                                            <td class="text-center">@item.UserCount</td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td>
                                                    @if (item.IsActive)
                                                    {
                                                        <span class="badge bg-danger">Inactive</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="bg-success">Active</span>
                                                    }
                                                </td>
                                               
                                            }
                                            @if (User.IsInRole("User"))
                                            {
                                                <td>
                                                    @if (item.IsCurrentUserJoined)
                                                    {
                                                        <span class="green fw-bold">Joined</span>
                                                    }
                                                </td>
                                            }
                                            <td>
                                                <span><a asp-route-id="@item.Id">View</a></span>
                                                @if(User.IsInRole("Admin")){
                                                    <span><a asp-route-id="@item.Id">Edit</a></span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.PageCount > 1)
                            {
                                <div class="table-pagination">
                                    <span>Sorting: </span>
                                    <select asp-for="@Model.Order" asp-items="@ViewBag.SortingOrderList" id="pagination-select-order" class="pagination-select"></select>
                                    <span>Page size: </span>
                                    <select asp-for="@Model.PageSize" asp-items="@ViewBag.PageSizeList" id="pagination-select-rows" class="pagination-select"></select>


                                    @if (Model.CurrentPageIndex != 1)
                                    {
                                        <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="1">First</button>
                                    }
                                    @if (Model.CurrentPageIndex != 1 && Model.PageCount >= Model.CurrentPageIndex)
                                    {
                                        <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@(Model.CurrentPageIndex-1)">Previous</button>
                                    }
                                    @for (int i = Model.CurrentPageIndex; i <= Model.CurrentPageIndex + 5; ++i)
                                    {
                                        if (i == Model.CurrentPageIndex)
                                        {
                                            <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@i" class="current-index-page">@i</button>
                                        }
                                        else if (i > Model.PageCount)
                                        {
                                            break;
                                        }
                                        else
                                        {
                                            <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@i">@i</button>
                                        }
                                    }
                                    @if (Model.CurrentPageIndex < Model.PageCount)
                                    {
                                        <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@(Model.CurrentPageIndex+1)">Next</button>
                                    }
                                    @if (Model.CurrentPageIndex != 1 && Model.PageIndex != Model.PageCount)
                                    {
                                        <button type="submit" asp-route-pageSize="@Model.PageSize" asp-route-page="@Model.PageCount">Last</button>
                                    }

                                </div>

                            }
                        </div>
                    }
                  
                </form>
            </div>
            
          
        </div>
    </div>
</section>