@model PaginationModel<UserProfileViewModel>
@{
    var pageSizeList = new List<int>() { 5, 10, 20, 50, 100 }
      .Select(item => new SelectListItem { Value = item.ToString(), Text = item.ToString() + " rows" }).ToList();
    ViewBag.PageSizeList = pageSizeList;

    var sortingOrderList = new List<string> {
        "None",
        "Order By Username Alpabetically",
        "Order By Email Alphabetically",
        "Order By Posts",
        "Order By Joined Groups",
        "Order By Comments Count"}
           .Select((item, index) => new SelectListItem
           { Value = index.ToString(), Text = item }).ToList();
    ViewBag.SortingOrderList = sortingOrderList;
}
<section>
	<h4 class="text-center">Admin Panel</h4>
	<h5 class="text-center">Manage Users</h5>
        <div class="d-block">

            <div class="row align-items-start ">

                <div class="col-12 text-start">

                    <div id="pagination-form">
                        <div>
                            <input asp-for="@Model.SearchTerm" class="form-input w-75" type="text" placeholder="search..." value="@Model.SearchTerm" />
                            <input asp-for="@Model.PageIndex" type="hidden" value="@Model.PageIndex" />
                            <button asp-route-pageSize="@Model.PageSize" asp-route-page="@Model.CurrentPageIndex" class="form-button"> Search </button>
                        </div>
                        @if (Model.Items.Count == 0)
                        {
                            <h4 class="text-center">No Users in this forum yet</h4>
                        }
                        else
                        {
                            <div>
                                <table class="topics-table">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Joined</th>
                                            <th>Active</th>
                                            <th>Topics</th>
                                            <th>Comments</th>
                                            <th>Posts</th>
                                            <th>Country</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.Username</td>
                                                <td>@item.Email</td>
                                                <td>@item.CreatedOn</td>
                                                <td>
                                                    @if (!item.IsActive)
                                                    {
                                                        <span class="badge bg-danger">Inactive</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-success">Active</span>
                                                    }
                                                </td>
                                                <td>@item.JoinedTopics</td>
                                                <td>@item.RepliesCount</td>
                                                <td>@item.PostsCount</td>
                                                <td>@item.Country</td>
                                                <td>
                                                    <span class="badge bg-danger">Delete</span>
                                                    <span class="badge bg-info">View Profile</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model.PageCount > 1)
                                {
                                    <div class="table-pagination">
                                        <span>Sorting: </span>
                                        <select asp-for="@Model.Order" asp-items="@ViewBag.SortingOrderList" id="pagination-select-order" class="pagination-select"></select>
                                        <span>Page size: </span>
                                        <select asp-for="@Model.PageSize" asp-items="@ViewBag.PageSizeList" id="pagination-select-rows" class="pagination-select"></select>


                                        @if (Model.CurrentPageIndex != 1)
                                        {

                                            <a href="@Url.Action("ManageUsers","User", new { page = 1, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                <button>First</button>
                                            </a>
                                        }
                                    @if (Model.CurrentPageIndex != 1 && Model.PageCount >= Model.CurrentPageIndex)
                                    {
                                           <a href="@Url.Action("ManageUsers","User", new { page = Model.CurrentPageIndex-1, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                <button>Previous</button>
                                           </a>
                                        }
                                        @for (int i = Model.CurrentPageIndex; i <= Model.CurrentPageIndex + 5; ++i)
                                        {
                                            if (i == Model.CurrentPageIndex)
                                            {
                                                <a href="@Url.Action("ManageUsers","User", new { page = i, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                <button class="current-index-page">@i</button>
                                                </a>
                                            }
                                            else if (i > Model.PageCount)
                                            {
                                                break;
                                            }
                                            else
                                            {
                                               <a href="@Url.Action("ManageUsers","User", new { page = i, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                    <button>@i</button>
                                               </a>
                                            }
                                        }
                                        @if (Model.CurrentPageIndex < Model.PageCount)
                                        {
                                            <a href="@Url.Action("ManageUsers","User", new { page = Model.CurrentPageIndex+1, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                   <button>Next</button>
                                            </a>
                                        }
                                        @if (Model.CurrentPageIndex != 1 && Model.PageIndex != Model.PageCount)
                                        {
                                            <a href="@Url.Action("ManageUsers","User", new { page = Model.PageCount, pageSize = Model.PageSize, searchTerm = Model.SearchTerm, order = Model.Order})">
                                                <button>Last</button>
                                            </a>
                                        }

                                    </div>

                                }
                            </div>
                        }

                    </div>
                </div>


            </div>
        </div>
</section>