@model ForumUserEditViewModel
@{
    ViewData["Title"] = "Edit Profile";
}
<section >
    <div class="form-outer edit">
        <div class="form-inner">
            <form enctype="multipart/form-data" asp-controller="Account" asp-action="Edit">
                <input type="hidden" asp-for="@Model.Username"/>
                @if(Model.AvatarName == null || Model.AvatarName.Trim() == "")
                {
                    <div class="form-warning">.
                        You haven't set your profile picture yet!
                    </div>
                }else{
                    <div class="form-field">
                        <img src="/images/@Model.AvatarName"  height="400" width="400" class="img-thumbnail" alt="@Model.AvatarName"/>
                    </div>
                }
                <div class="form-field">
                    <input asp-for="@Model.Avatar" type="file" accept="image/png, image/gif, image/jpeg" class="form-input" type="file"  aria-required="true" />
                    <span asp-validation-for="@Model.Avatar" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <input asp-for="@Model.Email" class="form-input"  type="email" aria-required="true" placeholder="email" required/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                
                <div class="form-field">
                    <textarea asp-for="@Model.PersonalInfo" class="form-textarea" rows=6 placeholder="Some information about yourself..."  aria-required="true" >
                    </textarea>
                    <span asp-validation-for="@Model.PersonalInfo" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <button class="form-button">Update</button>
                </div>
            </form>
        </div>
        <div class="form-inner account-stats">
             <div class="form-field ">
                <a class="custom-href" href="@Url.Action("ChangePassword", "Account")">Change your password</a>
            </div>
            <div class="form-field">
                 <div class="stats">Active since: <span>Thu, 01 Jan 1993</span></div>
            </div>
            <div class="form-field ">
                 <div class="stats">Country: <span>BG</span></div>
            </div>
            <div class="form-field ">
                <div class="stats">Your topics: <span>102</span></div>
            </div>
            <div class="form-field  ">
                <div class="stats">Your posts: <span>322</span></div>
            </div>
            <div class="form-field ">
                <div class="stats">Contribution topics: <span>0</span></div>
            </div>
        </div>
    </div>
</section>