@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1 class="form-heading text-center">@ViewData["Title"]</h1>
<section id="login">
    <div class="form-outer">
        <div class="form-inner">
            <form id="account" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-field">
                    <input asp-for="@Model.Input.Email" class="form-input" placeholder="email" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <input asp-for="@Model.Input.Password" placeholder="password" class="form-input" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="form-button">Log in</button>
                </div>
            </form>

        </div>
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
