@model PostViewModel
@{
	var postTypes = new List<string> {"Text", "Upcoming Event ", "Media"};
	ViewBag.PostTypeList = postTypes;
}
<section>
	<div class="m-3 m-auto w-25">
		@if (TempData["Error"]!=null)
		{
			@await Component.InvokeAsync("ErrorMessage",new MessageModel{ ErrorMessage = TempData["Error"].ToString()})
		}
	</div>
	<div class="card mt-5 w-75 m-auto">
		<form asp-action="Create" asp-controller="Post" method="post">
			<div class="card-body">
				<h4 class="text-center mt-3 mb-4">Create New Post</h4>
				
					<div class="ml-2 form-check">
						<input asp-for="@Model.PostType" class="form-check-input"  type="radio"   value="0">
						<label class="form-check-label" >
						    Article
						</label>
					</div>
					<div class="ml-2 form-check">
						<input asp-for="@Model.PostType" class="form-check-input"  type="radio"   value="1">
						<label class="form-check-label" >
							Event
						</label>
					</div>
				<div class="ml-2 form-check">
					<input asp-for="@Model.PostType" class="form-check-input"  type="radio" value="2">
					<label class="form-check-label">
						Video
					</label>
				</div>
				
				<div id="text">
					<div class="form-field">
						<input asp-for="@Model.Title" placeholder="Title"  class="form-input" />
					</div>
					<div class="form-field">
						<textarea  asp-for="@Model.Content" placeholder="What is this post about..."  cols="10" rows="20" class="form-textarea" >
						</textarea>
					</div>
				</div>
				<div id="event">
					<div class="form-field">
						<input asp-for="@Model.EventTitle" placeholder="Event title" t class="form-input" />
					</div>
					<label class="d-block">Event description: </label>
					<div class="form-field">
						<textarea  asp-for="@Model.EventDescription" placeholder="Additional information about the event..." class="form-textarea text-justify" cols="8" rows="10" >
						</textarea>
	
					</div>
					<div  class="form-field">
						<label class="d-block">Starts in: </label>
						<input asp-for="@Model.Start" type="datetime-local" class="form-input"   />
					</div>
					<div class="form-field">
						<label class="d-block">Ends in: </label>
						<input asp-for="@Model.End" type="datetime-local" class="form-input" />
					</div>
				</div>
				<div id="media" >
					<div class="form-field">
						<input asp-for="@Model.VideoTitle" class="form-input" type="url" placeholder="https://www.youtube.com/" />
					</div>
					<div class="form-field"> 
						<input asp-for="@Model.VideoUrl" class="form-input"  type="url" placeholder="https://www.youtube.com/" />
					</div>
					<div class="form-field">
						<textarea  asp-for="@Model.VideoDescription" class="form-textarea"  placeholder="Additional information about the resource..." cols="8" rows="10" >
						</textarea>
					</div>
					<input type="hidden"  asp-for="@Model.TopicId" />
			    </div>
			</div>
			<div class="card-body m-3">
				<button class="form-button mb-3" type="submit">Create Post</button>
			</div>
		</form>
		
	</div>
</section>