<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EweForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EweForum.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <ul class="nav justify-content-center header">
            <li class="nav-item">
                <a class="nav-link" aria="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
               
                @if (User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-dark edit" asp-controller="Account" asp-action="Edit">Hello, @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ManageTopics" asp-controller="Topic">All Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BrowseFeed","Topic", new {page = 1})">Browse Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Post</a>
                    </li>
                }
                if (@User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ManageTopics","Topic")">Manage Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ManageUsers","User", new {
                            page = 1, pageSize = 5, searchTerm = string.Empty, sort = 0
                        })">Manage Forum Users</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" aria="active" id="logout" data-bs-toggle="modal" href="#"  data-bs-target="#confirmLogout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" aria="active" id="register" asp-controller="Account" asp-action="Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria="active" id="login" asp-controller="Account" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria="active">Browse</a>
                </li>
            }
        </ul>
    </header>
    <div class="modal fade" id="confirmLogout" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer mt-3 d-flex justify-content-center">
                    <button type="button" class="form-button" data-bs-dismiss="modal">Close</button>
                    <button type="button"  id="confirm" class="form-button" onclick="() => logout(e.target)">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EweForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
